/*
*, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }
*/

html,
body,
.container-fullwidth;
.row {
	height:100%;
    margin:0;
}

#main {
/*    margin: 0;*/
/*    width: 100%;*/
    padding: 0 15px;
/*    display: block;*/
    position: relative;
/*    padding: 0;*/
    height: 1340px;
}


#sidebar {
    border-right: 1px solid #999;
    background-color: #fff;
    position: fixed;
/*
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
*/
    height: 4000px;
/*    display: block;*/
}

#message-pane {

}

#create-room {
    position:absolute;
    bottom: 0px;
    left: 0px;
    width:100%;
}

#create-room .btn {
    border-radius: 0;
}

#create-user {
    position: absolute;
    bottom: 45px;
    left: 0px;
    width: 100%;
}

#create-user .btn {
    border-radius: 0;
}

#send-message-wrapper {
    position: relative;
    margin: 40px auto 0;
}

#send-message {
/*    position: absolute;*/
/*    bottom: 0px;*/
/*    right: 0px;*/
    margin: 15px auto;
    display: block;
    width: 90%;
/*    width:100%;*/
}


.username {
    color: darkorange;
}

.sentat {
    margin: -15px 15px 0 15px;
    font-style: italic;
    opacity: 0.8;
    float: right;
}

.message-text {
    display: block;
}

.message-date {
    text-align: center;
    font-style: italic;
    opacity: 0.8;
}

.well {
    width: 80%;
    background-image: none !important;
}

.well.current {
    margin-left: 15%;
    background-color: #b9f7c0;
}

.well.other {
    background-color: #fafdd2;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    color: #000 !important;
    font-size: 1.6em !important;
}

.navbar-right {
    margin: 0 !important;
}

.navbar-right a {
    color: #337ab7 !important;
}

.room-image img {
    width: 80%;
    margin-left: 10%;
}

.main-container {
    margin-top: 60px;
}

.main-container .page-header {
    position: fixed;
    z-index: 1030;
    background-color: #fff;
    border-bottom: 1px solid #CCC;
    width: 100%;
    margin: -9px 0 0 !important;
    opacity: 0.8;
}

.messages-list {
    margin-top: 110px;
}

.well img {
    width: 48px;
}

.messages-list .well.woof .message-text::before{
    content: url('/assets/images/woof.png');
    padding-right: 15px;
}

.messages-list .well.meow .message-text::before{
    content: url('/assets/images/meow.png');
    padding-right: 15px;
}
